*.DS_Store
*.vscode/
*__pycache__/

*.gpkg
*.pkl
*.csv
datasets/

save_folder/*
!save_folder/results\ 145123/
save_folder/results\ 145123/*.json
save_folder/results\ 145123/*/*.json
save_folder/results\ 145123/*/*/*.json

visualizers/*/*_data/

!visualizers/model/model_data/
visualizers/model/model_data/model_*d_Trueen

!visualizers/sample/sample_data/
visualizers/sample/sample_data/*.npy
